@import "macchiato.css";
/*
* {
    font-family: "JetbrainsMono Nerd Font";
    font-size: 15px;
}

window#waybar {
    background-color: @base;
    color: @text;
    font-size: 16px;
    border-right: 1px solid @text;
    box-shadow: 10px 5px 5px red;
}

window#waybar > box {
    box-shadow: 2px 3px 2px 2px #151515;
}
*/
* {
	font-family: JetBrainsMono Nerd Font;
	font-size: 15px;
	font-weight: bold;
	border-radius: 0px;
	transition-property: background-color;
	transition-duration: 0.5s;
}

@keyframes blink_red {
    to {
        background-color: rgb(242, 143, 173);
        color: rgb(26, 24, 38);
    }
}

.warning, .critical, .urgent {
	animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.critical {
    animation-duration: 0.5s;
}

window#waybar {
	background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.5;
}

window > box {
	background-color: #24273a;
	border-bottom: 1px solid #cad3f5;
}

#workspaces button {
	color: #cad3f5;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 2px;
	padding-right: 2px;
}

#workspaces button.focused {
	background-color: rgb(181, 232, 224);
	color: rgb(26, 24, 38);
}

#workspaces button.persistent {
	color: #5b6078;
}

#workspaces button.urgent {
    background-color: #ed8796;
   	color: rgb(26, 24, 38);
}

#workspaces button.active {
	color: #ed8796;
}

#workspaces button:hover {
    background-color: #ed8796;
    color: rgb(26, 24, 38);
}

tooltip {
  background: rgb(48, 45, 65);
}

tooltip label {
  color: rgb(217, 224, 238);
}

#custom-launcher {
    padding-left: 20px;
    padding-right: 15px;
    font-size: 18px;
    color: rgb(201, 203, 255);
}

#mode, #clock, #memory, #cpu, #pulseaudio, #network {
	padding-left: 15px;
	padding-right: 15px;
}

#mode {
	margin-left: 10px;
	background-color: rgb(248, 189, 150);
    color: rgb(26, 24, 38);
}

#memory {
	padding-left: 25px;
	color: rgb(181, 232, 224);
}

#cpu {
	color: rgb(245, 194, 231);
}

#clock {
	color: #91d7e3;
}

#pulseaudio {
	color: rgb(245, 224, 220);
}

#network {
	color: rgb(181, 232, 224);
}

#custom-off {
	color: rgb(242, 143, 173);
	font-size: 18px;
	padding-left: 10px;
	padding-right: 20px;
}
