* {
    background:       #101010;
    background-alt:   #101010;
    background-light: #161616;
    foreground:       #fefefe;
    selected:         #FFC799;
    active:           #99FFE4;
    urgent:           #ff8080;
}
