* {
    background:       #101010;
    background-alt:   #101010;
    background-light: #161616;
    foreground:       #fefefe;
    selected:         #82CFFF;
    active:           #3DDBD9;
    urgent:           #FF7EB6;
}
